<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a
                    class="nav-link <%= path === '/' ? 'active' : '' %>"
                    href="/">Home
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link <%= path === '/users' ? 'active' : '' %>"
                    href="/users">Users <span class="badge badge-secondary badge-success"><%= usersNumber %></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
