<%- include('includes/header.ejs') -%>
<div class="page">
    <div class="container">
        <div class="row page__row">
            <div class="col-12">
                <%- include('components/nav.ejs') -%>
            </div>
        </div>
        <div class="row page__row">
            <div class="col-6">
                <h2>404</h2>
                <p>Page not found.</p>
            </div>
        </div>
    </div>
</div>
<%- include('includes/footer.ejs') -%>
