<%- include('includes/header.ejs') -%>
<div class="page">
    <div class="container">
        <div class="row page__row">
            <div class="col-12">
                <%- include('components/nav.ejs') -%>
            </div>
        </div>
        <div class="row page__row">
            <div class="col-6">
                <h2>Add user</h2>
                <form method="post">
                    <div class="form-group">
                        <label for="name">Your name</label>
                        <input id="name" class="form-control" type="text" name="name">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('includes/footer.ejs') -%>
