<%- include('includes/header.ejs') -%>
<div class="page">
    <div class="container">
        <div class="row page__row">
            <div class="col-12">
                <%- include('components/nav.ejs') -%>
            </div>
        </div>
        <div class="row page__row">
            <div class="col-6">
                <h2>Users list</h2>
                <% if (usersList.length) { %>
                    <ul class="list-group">
                        <% usersList.forEach((userName, index) => { %>
                            <li class="list-group-item"><%= index + 1 %>. <%= userName %></li>
                        <% }) %>
                    </ul>
                    <form class="mt-3" method="post">
                        <button type="submit" class="btn btn-primary">Clear list</button>
                    </form>
                <% } else { %>
                    No users added
                <% } %>
            </div>
        </div>
    </div>
</div>
<%- include('includes/footer.ejs') -%>
